.form label {
  display: block;
  font-weight: bold;
  font-size: 0.85rem;
  margin-bottom: 0.25rem;
  color: #3c4249;
  text-transform: uppercase;
}

.form input,
.form textarea {
  font: inherit;
  font-size: 1.1rem;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #097ccf;
  width: 100%;
}

.formActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.contentSection {
  margin: 0;
  padding: 0 10%;
}

.contentSection.h2 {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  margin: 2rem auto;
  color: #097ccf;
}

.articlesList {
  max-width: 60rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 1rem;
}
